html, body, main {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #e9f7e8;
}

.container {
    margin-left: 100px;
}

main {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.navbar {
    height: 80px;
    background-color: #4f914f;
}

#logo {
    width: 60px;
    height: 60px;
}

.navbar-default {
    border: None;
    border-radius: 0%;
}

.navbar-default .navbar-brand {
    font-size: 35pt;
    line-height: 60px;
    color: white;
    padding: 5px;
    margin-left: 100px;
}

#preferences-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    padding: 15px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 105px;
    background-color: white;

}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.form-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.form-elements > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectpicker, button .dropdown-toggle .bs-placeholder .btn-default {
    width: 220px;
}

#submit-preferences-btn {
    margin-top: 20px;
}

.graph {
    margin-left: 20px;
    width: 600px;
    min-width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

h1 {
    margin-bottom: 10px;
    font-size: 20pt;
}

svg {
    width: 400px;
    height: 400px;
    background-color: #f8f8f8;
}

select {
    display: None;
}