html, body, main {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: 100px;
}

main {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.navbar {
    height: 80px;
}

.navbar-default .navbar-brand {
    font-size: 35pt;
    line-height: 40px;
    color: black;
    padding: 5px;
}

#settings-card {
    width: 300px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 105px;
    overflow-y: scroll;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.form-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.form-elements > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.slidecontainer, .selectpicker, .text-input, 
button .dropdown-toggle .bs-placeholder .btn-default {
    width: 220px;
}
  
.slider {
    height: 25px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.selectpicker {
    height: 25px;
}

#submit-settings-btn {
    margin-top: 20px;
}

.graph {
    margin-left: 20px;
    width: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.graph h1 {
    color: #777;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 20pt;
}

svg {
    width: 400px;
    height: 400px;
    background-color: #f8f8f8;
}

.text-input {
    display: flex;
    height: 34px;
    line-height: 3;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: .25em;
    cursor: pointer;
}

select {
    display: None;
}