{% extends "base.html" %}

{% block app_head %}
    {% block app_scripts %}
        {{super()}}
        <script src="//d3js.org/d3.v5.min.js"></script>
        <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
        <script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <script src="{{url_for('.static', filename='utils.js')}}"></script>
        <script defer src="{{url_for('.static', filename='index.js')}}"></script>
        <script>    
            //d3.select("#selection-graph").graphviz().renderDot({{network_source|tojson}});
            //d3.select("#etf-graph").graphviz().renderDot({{network_source|tojson}});
            d3.select("#etf-graph").graphviz().renderDot('digraph G {a -> b}');
        </script>

        <script>
            $(document).ready(function() {
                $('#selectpicker-sectors').selectpicker();
                $('#selectpicker-stocks').selectpicker();
                $('#selectpicker-exchanges').selectpicker();
                $('#selectpicker-strategy').selectpicker();
            });
        </script>

    {% endblock %}

    {% block app_styles %}
        {{super()}}
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css" />
        <link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}" />
    {% endblock %}
{% endblock %}

{% block app_content %}
    <div id="settings-card" class="card">
        <h1>Settings</h1>
        <form id="settings-form" method="POST" action="/" enctype="multipart/form-data">
            <div class="form-elements">

                <div id="stocks-div">
                    <label for="stocks">Stocks:</label><br>
                    <select class="dropdown" id="selectpicker-stocks" name="stocks" multiple>
                        {% for ticker in tickers %}
                            {% set ticker = ticker[0] %}
                            <option value="{{ ticker }}">{{ ticker }}</option>
                        {% endfor %}
                    </select>  
                </div>

                <div id="sectors-div">
                    <label for="stocks">Sectors:</label><br>
                    <select class="dropdown" id="selectpicker-sectors" name="sectors" multiple data-live-search="true">
                        <option value="energy">Energy</option>
                        <option value="materials">Materials</option>
                        <option value="industrials">Industrials</option>
                        <option value="utilities">Utilities</option>
                        <option value="healthcare">Healthcare</option>
                        <option value="financials">Financials</option>
                        <option value="consumer-discretionary">Consumer Discretionary</option>
                        <option value="consumer-staples">Consumer Staples</option>
                        <option value="information-technology">Information Technology</option>
                        <option value="communication-services">Communication Services</option>
                        <option value="real-estate">Real Estate</option>
                    </select>  
                </div>

                <div id="exchanges-div">
                    <label for="exchange">Exchange:</label><br>
                    <select class="dropdown" id="selectpicker-exchanges" name="exchange" multiple data-live-search="true">
                        <option value="S&P-500">S&P-500</option>
                        <option value="NYSE">NYSE</option>
                        <option value="NASDAQ">NASDAQ</option>
                    </select>  
                </div>

                <div id="strategy-div">
                    <label for="strategy">Strategy:</label><br>
                    <select class="dropdown" id="selectpicker-strategy" name="strategy" multiple data-live-search="true">
                        <option value="average-centrality">Average Centrality</option>
                        <option value="degree-centrality">Degree Centrality</option>
                        <option value="closeness-centrality">Closeness Centrality</option>
                        <option value="betweenness-centrality">Betweenness Centrality</option>
                    </select>  
                </div>


                <div>
                    <input type="submit" value="Submit" id="submit-settings-btn">
                </div>

            </div>
        </form>
        
    </div>

    <div id="network-card" class="card graph">
        <h1>Selected Strategy Network</h1>
        <div id="selection-network">

        </div>
    </div>

    <div id="selection-card" class="card graph">
        <h1>Selected Strategy Graph</h1>
        <div id="selection-graph">
            {{ top_decile_stocks}}
            {{ bottom_decile_stocks }}
        </div>
    </div>

        
{% endblock %}


